html, body {
    height: 100%; /* Define a altura total do documento */
    margin: 0; /* Remove margens padrão do body */
}

h1, h2, h3, h4, h5 {
    font-family: 'Montserrat', sans-serif;
}

body {
    display: flex; /* Usar flexbox para organizar o layout */
    flex-direction: column; /* Colocar os elementos na vertical */
    font-family: 'Lato', sans-serif; /* Fonte padrão */
    line-height: 1.6; /* Melhora a legibilidade */
}

main {
    flex: 1; /* Faz o main ocupar o espaço restante da página */
    margin-bottom: 20px; /* Espaço entre o conteúdo principal e o footer */
}

footer {
    background-color: #007bff; /* Cor de fundo do footer */
    color: white; /* Cor do texto do footer */
    text-align: center; /* Centralizar o texto */
    padding: 10px 0; /* Espaçamento interno do footer */
    margin-top: auto; /* Faz o footer ir para a parte inferior */
}

.header {
    background-image: url('img/cabecalho.jpg');
    background-size: cover;
    height: 720px; /* Ajuste conforme necessário */
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
    transition: background-image 0.5s ease-in-out; /* Transição suave */
}

/* Responsividade */
@media (max-width: 768px) {
    body {
        flex-direction: column; /* Mantém a estrutura em coluna */
    }
    .header {
        height: 400px; /* Ajuste para telas menores */
    }
    nav {
        flex-direction: column; /* Coloca os itens do menu em coluna */
    }
}

.card {
    transition: transform 0.2s; /* Adiciona uma animação suave ao passar o mouse */
}

.card:hover {
    transform: scale(1.05); /* Leve aumento no tamanho do cartão ao passar o mouse */
}

/* Estilos adicionais para animações */
.welcome {
    opacity: 0;
    transition: opacity 1s ease-in-out;
}

.back-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: none;
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
}

.btn {
    transition: background-color 0.3s, transform 0.3s;
}

.btn:hover {
    background-color: #0056b3;
    transform: scale(1.05);
}

footer a {
    color: white;
    text-decoration: none;
    transition: color 0.3s;
}

footer a:hover {
    color: #ffcc00; /* Altere para uma cor que destaque */
}
