/* Reset e Configuração Inicial */
html, body {
    height: 100%;
    margin: 0;
    display: flex; /* Flexbox para layout */
    flex-direction: column; /* Direção vertical */
}

/* Estilos globais */
body {
    font-family: Arial, sans-serif;
    background-color: #EAEAEA; /* Cinza Claro */
    color: #2C3E50; /* Cor do texto principal */
}

/* Estilos de Títulos */
h1, h2, h3, h4, h5 {
    font-family: 'Montserrat', sans-serif;
}

/* Estilo do Main */
main {
    flex: 1; /* Permite que o main ocupe o espaço restante */
    padding-top: 80px; /* Compensa o header fixo */
    margin-bottom: 20px;
}

/* Estilo do Header Fixo */
.header {
    background-color: white;
    height: 80px; /* Altura reduzida para estilo fixo */
    display: flex;
    align-items: center;
    justify-content: center;
    color: #FFFFFF; /* Branco */
    top: 0;
    width: 100%;
    z-index: 1000;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
    transition: background-image 0.5s ease-in-out;
}

/* Estilos do rodapé */
footer {
    background-color: #fff; 
    color: #fff; /* Branco */
    text-align: center;
    padding: 10px 0;
    width: 100%; /* Garante que o rodapé ocupe toda a largura */
    position: relative; /* Para garantir que o footer não se sobreponha a outros elementos */
}

.footer-text {
    margin: 0;
    padding: 0;
    font-size: 18px;
    line-height: 1.5;
    color: #0000009a; /* Branco */
}

/* Responsividade */
@media (max-width: 768px) {
    body {
        flex-direction: column;
    }
    .header {
        height: 400px;
    }
    nav {
        flex-direction: column;
    }
}

/* Estilos do Card */
.card {
    transition: transform 0.2s, box-shadow 0.2s;
    margin-bottom: 20px;
    border: 1px solid #e0e0e0; /* Borda leve */
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1); /* Sombra sutil */
    display: flex; /* Para usar flexbox */
    flex-direction: column; /* Alinha o conteúdo na vertical */
    height: 100%; /* Para permitir que a altura seja igual */
}

.card-body {
    flex-grow: 1; /* Faz o corpo do card crescer para ocupar o espaço disponível */
    display: flex;
    flex-direction: column; /* Alinha o conteúdo na vertical */
    justify-content: space-between; /* Distribui o espaço entre os elementos */
}

.card-img-top {
    max-height: 200px; /* Limite a altura da imagem */
    object-fit: cover; /* Cobre o espaço do card sem distorcer */
}

.card:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 20px rgba(0,0,0,0.2);
}

/* Efeito de Apresentação */
.welcome {
    opacity: 0;
    transition: opacity 1s ease-in-out;
}

/* Botão Voltar ao Topo */
.back-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: none;
    background-color: #27AE60; /* Verde Escuro */
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    z-index: 1001; /* Garante que o botão fica acima do conteúdo */
}

.back-to-top:hover {
    background-color: #0056b3; /* Cor ao passar o mouse */
    transform: scale(1.1);
}

/* Estilos de Botões */
.btn {
    transition: background-color 0.3s, transform 0.3s;
}

.btn-primary {
    background-color: #27AE60; /* Verde Escuro */
    border: none;
}

.btn-primary:hover {
    background-color: #F1C40F; /* Amarelo ao passar o mouse */
    transform: scale(1.05);
}

/* Estilos da seção de Projetos */
.projects .card {
    transition: transform 0.2s, box-shadow 0.2s;
}

.projects .card:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
}

.projects img {
    height: 200px; /* Defina uma altura fixa para as imagens */
    object-fit: cover; /* Para evitar distorções */
}
